[Desktop Entry]
Encoding=UTF-8
Name=Aipg Core
Comment=Connect to the Aipg P2P Network
Comment[de]=Verbinde mit dem Aipg peer-to-peer Netzwerk
Comment[fr]=Aipg, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Aipg, eşten eşe kriptografik sanal para birimi
Exec=aipg-qt %u
Terminal=false
Type=Application
Icon=aipg128
MimeType=x-scheme-handler/aipg;
Categories=Office;Finance;
